<header class="jumbotron subhead" id="overview">
	<div>

		<h1>Tareas pendientes</h1>
		<div class="well centerlogin">

			<% if (@pending_tasks != nil) && !(@pending_tasks.empty?) %>

			<table class="table" align="center" border="1">
				<tr>
					<th>Nombre de la tarea</th>
					<th>Descripcion</th>
					<th></th>

				<% @pending_tasks.each do |task| %>
				<tr>
					<td><%= task.name %></td>
					<td><%= task.get_description %></td>
					<td>
					<form action="make_task" method="get">
						<input type="hidden" name="task_id" value="<%= task.id %>">
						<% if task.estimatedTime == nil %>
						<input type="hidden" name="is_estimation" value="1">
						<input class="btn-primary" type="submit" value="Estimar" id="estimation_<%= task.name %>_button">
						<% else %>
						<input type="hidden" name="is_estimation" value="0">
						<input class="btn-primary" type="submit" value="Trackear" id="track_<%= task.name %>_button">
						<% end%>
					</form></td>

				</tr>
				<% end %>
				</tr>
			</table>
			<% end %>
		</div>
	</div>
</header>

